<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (prods.length > 0) { %>
                <ul>
                    <% prods.forEach(prod => { %>
                        <li>
                            <p><%= prod.productTitle %> (<%= prod.qty %>)</p>
                            <p>$ <%= prod.productPrice %></p>
                            <p><%= prod.productDescription %></p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" id="" value="<%= prod.productId %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <span>Total Amount : </span> 
                $ <%= amount %>
            <% } else { %>
                <h1>No Products in Cart</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>